body {
    background-color: black;
    font-family: 'Song Myung', serif;
    color: white;
}
video {
    height: 200px;
}
article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    height: 300px;
    margin: 0 auto;
}

#animal{
    color: goldenrod;
}