body {
    background-color: black;
    font-family: 'Song Myung', serif;
    color: white;
}

video {
    height: 200px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
.ans-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  border: 2px solid goldenrod;
  border-radius: 25px;
  color:goldenrod;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}

.btn-info{
  color: black;
  padding: 10px;
}
.result-title{
    color: goldenrod;
    margin: 0 auto;
}

.result-title h1{
    font-size: 30px;
}

hr {
    border-top: 3px double #bbb;
    text-align: center;
}
hr:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: black;
    color: #bbb;
    font-size: 18px;
}

.box {
    background-color:white;
    max-height: 250px;
    border-radius: 20%;
    overflow: hidden;
    margin: 0 auto;
}

#img{
    height: 100%;
    margin: 0 auto;
}

.explain{
    color: goldenrod;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0 5%;
}

p{
    color: #bbb;
    font-size: 15px;
}

.share {
  margin: 0 auto;
}

.kakao_ad{
  width: 320px;
  margin: 0 auto;
}

.banner{
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.banner-img{
  width:300px;
}
